.ml12 {
  font-weight: 600;
//   font-family: "Lovers Quarrel", cursive;
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  letter-spacing: 8px;
  text-decoration: uppercase;
}

.map-heading-text {
	font-family: "Lato", sans-serif;
    font-weight: 200 !important;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    letter-spacing: -4px !important;
    text-transform: uppercase;
	z-index: 200 !important;
	font-size: 80px !important;
}
.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.animate {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash 5s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.zoominheader {
  -webkit-animation: zoomin 15s ease-in infinite;
  animation: zoomin 15s ease-in infinite;
  transition: all 10s ease-in-out;
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
} /*End of Zoom in Keyframes */

.main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  top: 0px;
  z-index: 1;
}

.map-heading {
  position: absolute;
  top: 35vh;
  text-align: center;
  width: 100vw;
  color: white;
  .map-heading-sub {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 14px;
    z-index: 200;
  }
}

//Side buttons
.custom-orbit-btns {
}

// .menu.expanded {
//   background: none;
//   position: fixed;
//   top: 0px;
//   z-index: 999999;
//   a{
//     width: 1.2rem;
//     height: 1.2rem;
//     margin: 0.1rem;
//     border-radius: 50%;
//     background-color: #cacaca;
//   }
// }

.menu.expanded li {
  flex: unset;
}

.custom-orbit-btns {
  background: transparent;
  position: fixed;
  z-index: 99999;
  display: unset;
  top: 37vh;
  right: 0px;
}

.orbit-wrapper,
.orbit-container {
  height: 100vh !important;
}

.menu {
  color: #fff;
  .active > a {
    background-color: unset;
    color: red;
    button {
      background-color: red;
    }
  }
}

.custom-modal {
  * {
    box-sizing: border-box;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  // .mySlides {
  //   display: none;
  // }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}

.custom-modal {
  .mySlides1 {
    width: 100% !important;
  }

  .slideshow-container {
    height: 80vh !important;
    width: 100vw !important;
    .mySlides1 {
      img {
      }
    }
  }
  .custom-modal-header {
    font-family: roboto;
    position: absolute;
    color: white;
    left: 60px;
	width: 350px;
	h2 {
		font-size: 72px;
		font-weight: 900;	
	}
	p {
		font-size: 18px;
		margin-bottom: 30px;
		line-height: 1.7em;
		font-weight: 400;
	}
  }
}
